body {
        background-color: antiquewhite;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

 table {
        font-family: arial, sans-serif;
        border-collapse: separate;
        width: 100%;
        }
              
td, th {
        border:1px dashed black;
        text-align: left;
        padding: 8px;
        }
              
tr:nth-child(even) 
        {
        background-color: #dddddd;
        }

input[type="text"]
        {
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        color: red;
        }

input[type="text"]:hover{background-color: lightblue;}

#nama {text-decoration: underline;} 
#nim {text-decoration: underline;}

