@font-face {
        font-family: Centurion;
        src: url(../fonts/Centurion.otf);
}

@font-face {
        font-family: Smile;
        src: url(../fonts/Smile.otf);
}

@font-face {
        font-family: HandWrite;
        src: url(../fonts/HandWrite.otf);
}

body {
        background-color: antiquewhite;
        font-family: Smile;
        }

 table {
        font-family: Centurion;
        border-collapse: separate;
        width: 100%;
        }
              
td, th {
        border:1px solid black;
        text-align: left;
        padding: 8px;
        }
              
tr:nth-child(even) 
        {
        background-color: #dddddd;
        }

input[type="text"]
        {
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        color: black;
        }

input[type="text"]:hover{background-color: lightblue;}

#nama {text-decoration: underline;} 
#nim {text-decoration: underline;}

#nama {font-family: HandWrite; font-size: large;}
#nim {font-family: HandWrite; font-size: large;}

#header {width: 100%;}
#Logo {width: 5%;
float: left;
padding-left: 2px;}

#Judul {width: 10%;
float: left;
padding-top: 8px;
padding-left: 2px;}

.button {background-color: blue;
width: 300px;
border-radius: 5px;
border: none;
color: white;
font-weight: bold;
cursor: pointer;}

.button:hover{background-color: rgb(2, 2, 71);}

